.productgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.productitem {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 400px;
    /* position: relative; */
}
.productitem img {
    max-width: 100%;
    height:auto;
    border: 1px solid #ddd;
}  
.ratings {
    color: #f39c12;
    margin-top: 8px;
}
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}
.productcounter {
    text-align: center;
    margin-top: 10px;
    background-color: #f39c12;
}
.alert {
    position: relative;
    top: 10px;
    right: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    z-index: 1;
}