.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  .footerlinks {
    margin-bottom: 10px;
  }
  
  .footerlinks a {
    color: #333;
    text-decoration: none;
   
  }

  .separator {
    margin: 0 10px;
  }
  
  .footerlinks a:hover {
    text-decoration: underline;
  }